@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.about-container {
    margin: 4rem;
}

.Developer-cards-container{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;

}

.heading {
    font-family: 'Roboto', sans-serif;
}

.text {
    font-family: 'Roboto', sans-serif;
}