@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.mainContainer {
    width:100%;
    margin:10px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
.about-container {
    /* margin: 4rem; */
    width: 100%
}

.Developer-cards-container{
    flex-direction: row;
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .main-container{
      flex-direction: column;
      /* margin :5px; */
    }
}

@media screen and (max-width: 992px) {
    .main-container{
      flex: 50%;
    }
}

.heading {
    font-family: 'Roboto', sans-serif;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}