.gif {
    /* width: 50vw;
    height: auto; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    text-align: center;
    margin: 20 10 20 10;
}

.heading {
    text-align: center;
margin: 20 10 20 10;
}