@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    background-color: pink;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100vw;
    height: auto; */
}

.desktop-logo {
    /* width: 50vw;
    height: auto; */
    width: 400;
    border-radius: 50%;
    margin: 10;
}

.findMatches-container {
    text-align: center;
}

.findMatches {
    border-style: none;
    background-color: #73676A;
    border: 2px solid white;
    border-radius: 10px;
    width: auto;
    height: 4rem;
    padding: 1rem;
}

.findMatchLink {
    border-style: none;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}
